{
  "semi": true,
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "BracketSameLine": false,
  "proseWrap": "always",
  "endOfLine": "auto"
}
